@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  color: #333;
}

body.high-contrast {
  filter: contrast(2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.9);
  transition: background-color 5000s ease-in-out 0s;
  
}

h4{
  @apply text-lg font-bold text-slate-800;
}

.description-text{
  @apply text-sm text-slate-600;
}

.icono{
  @apply w-10 h-10  text-white p-2 rounded-lg;
}

.info-section{
  @apply bg-blue-100 text-blue-600 font-semibold px-2 border-1 border-blue-200  py-[1px] rounded-xl text-sm;
}

/* Animación de fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Animación de fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}